.body{
    background-image: url("images/ASHIQUZZAMAN73.jpg");
}

.editing {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}

.save-button {
    display: none;
}

.editing .save-button {
    display: inline-block;
}